<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <ApplicationSettings>
    <add key="RSAModulus" value="uq0enYUezkSI6nEH3W3kpjP4e8pjMFwvmyrglvUXnVXW8Er4/THwoEk7Fu0cAowtHRRYlA+F7vM+qk9ufTufLOG05xDh2yHnh6sLuVutx+E2WEN0Wnn8YKScYoA3HFP7P9KmeaV+c6+CJuQ4MY+G/0U9SdojP3X9UylA13+XMm0="/>
    <add key="RSAExponent" value="AQAB"/>
    <add key="RSAP" value="2vMAnQ5fTCkNIquZ67jAVZVxu5NevkE90CgNEt/7OLF86BYb8CYSe7RNk/67eHBqZcfBoJZ6msUrorKxW2wqTw=="/>
    <add key="RSAQ" value="2kQI0nu2AzpEklBl18/NR0y2kNyIzXJzSkD+9z25yoztuqjnpTsaYi6mdpg8XK16z1XVsnJa6EojQpb7hSK0gw=="/>
    <add key="RSADP" value="dfm0HextmwsPodvXDzW4pSTmaI0K4vciiHPcP4xiwHSaei/Xk/nfwbowhwseFtJz8i3FfnM20whk78DbYgiRbw=="/>
    <add key="RSADQ" value="XZn5kpJdDutJBtoVosRJyz7ZuCvrOvfO+1P+Q3ckGvnu5TKUDKbY/Kv21TsZ/8ChvxKXTyx9UcqhbmgjOwgUEw=="/>
    <add key="RSAInverseQ" value="CSharp"/>
    <add key="RSAD" value="Okl5yLdbEg6mLYWTbhk1DowlpwlfhScTmkB+FcR7Vh4KWccfDXe9aV7UO2lXmJgKMg07Rye9qwl6ZJUeq62lGkbvGfeZv2Pm8i5dZJbT8OiK3NslIXmzalQdiX6gmfjErVAi1mNbsNQdADShubOxw3iLXSQAJFq85MoP79fuMqU="/>
  </ApplicationSettings>



</configuration>